

This is the user's show page.

<h2>Here we will show an itemized list of shoes and images entered by the user.</h2>
  <h3>   <%= @user.name %>'s Shoe Show Page</h3>
    <h4>   <%= @user.email %> Email: </h4>
