

This is the user's show page.

<h2>Here we will show an itemized list of shoes and images entered by the user.</h2>
  <h3>   <%= @user.name %>'s Shoe Show Page</h3>
    <h4>   <%= @user.email %> Email: </h4>

    <div class="nav">
      <br>
      <a href='/shoe_entries'> All Shoe Entries</a><br>
        <a href='/shoe_entries/new'> New Shoe Entry</a><br>
        <a href='/logout'>Logout</a><br>
      </div>
