

<div class="container">
  <form class="" action="/shoe_entries" method="post">
    <h1>Create a New Shoe Entry Here: </h1>
    <font color="red"><h3>Note: All fields optional <em>except</em> "Name".</h3></font>
    <!-- name -->
    <div class="form-group">
      <font color="red"><strong><label for="name">Name: </label></strong></font>
    <input type="text" name="name" class="form-control" required>
    </div>

    <!-- brand  -->
   <div class="form-group">
     <font color="red"><b><label for="brand">Brand</label></b></font>
     <input type="text" name="brand" class="form-control">
   </div>


   <!-- image URL  -->
   <div class="form-group">
    <font color="red"><b><label for="url">Image URL:</label></b></font>
    <input type="text" name="url" class="form-control">
   </div>

   <!-- Style -->
    <div class="form-group">
      <font color="red"><b><label for="style">Style</label></b></font>
      <input type="text" name="style" class="form-control">
    </div>
      <input type="submit" name="" value="Create Entry">
  </form>
</div>
