

<div class="container">
  <form class="" action="/shoe_entries" method="post">
    <h1>Create a New Shoe Entry Here: </h1>
    <h3>Note: All fields optional <em>except</em> "Name".</h3>
    <!-- name -->
    <div class="form-group">
      <b><label for="name">Name: </label></b>
    <input type="text" name="name" class="form-control" required>
    </div>

    <!-- brand  -->
   <div class="form-group">
     <b><label for="brand">Brand</label></b>
     <input type="text" name="brand" class="form-control">
   </div>


   <!-- image URL  -->
   <div class="form-group">
    <b><label for="image_url">Image URL:</label></b>
    <input type="text" name="image_url" class="form-control">
   </div>

   <!-- Style -->
    <div class="form-group">
      <b><label for="style">Style</label></b>
      <input type="text" name="style" class="form-control">
    </div>
      <input type="submit" name="" value="Create Entry">
  </form>
</div>
