SHOW PAGE FOR SHOE ENTRIES




SHOW PAGE FOR SHOE ENTRIES




<h2><%= @shoe_entry.name %></h2>
    <div class="nav">
      <br>
      <%  if @shoe_entry.user_id == current_user.id %>
      <a href='/shoe_entries/<%=@shoe_entry.id%>/edit'><%= @shoe_entry.id %> Edit Entry</a><br>

        <form class="" method="POST" action="/shoe_entries/:id"<%= @shoe_entry.id %>/delete">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-sm">Delete Entry</button>
      </form>
      </div>
       <% end %>
