<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>

    <title>True Shoe Lovers Haven</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
  </head>

  <body>


    <div class="wrapper">


      <br><br>


      <%if logged_in? %>

      <div class="nav">
        <a href="/shoe_entries"> All Shoe Entries</a><br>
        <a href="/shoe_entries/new">New Shoe Entry</a><br>
        <a href="/logout">Logout</a><br>
      </div>
        <%end %>

          <% if flash[:message] %>
            <h5><%= flash[:message] %></h5>
          <% end %>

        <div class="wrapper">
          <%= yield %>

      <footer class="branding"><br>
        <small>&copy; 2019 <strong>TrueShoeLoversHaven</strong></small>
      </footer>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
