<div class="container">
  <h3>Welcome the True Shoe Lovers Haven App!</h3>
  <p> The Shoe Haven App lets you keep track of all of the amazing shoes you have collected over the years.
   Whether you are an avid connoisseur of all things shoes, or just someone
   who loves to keep their prized possessions organized, this app is for you!
   To get started, simply log in or sign up below.</p>
  <div class="home-buttons-container">
    <a href="/login"><button type="submit" class="btn btn-primary btn-home">Log In</button></a>
    <a href="/signup"><button type="submit" class="btn btn-primary btn-home">Sign Up</button></a>
  </div>
</div>
